@font-face {
    font-family: 'Popins';
    src: url('/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Popins';
    src: url('/fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Popins';
    src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* *, ::before, ::after { outline: 2px solid red }; */

/* Начало нормализации блочной модели */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/*
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/*
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
*/
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

/*
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/*
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/* Наследуем свойства шрифт для полей ввода */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /*
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /*
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /*
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /*
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/*
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Конец нормализации блочной модели */

/* Начало утилитарных блоков */

:root {
    --color-white: #fff;
    --color-almost-white: #FDFEFF;
    --color-gray: #666;
    --color-charcoal-black: #201F21;
    --color-half-transparent-white: rgba(255, 255, 255, 0.50);
    --color-fiery-red: #E73827;
    --color-deep-violet: #4D3CA2;
    --color-soft-pink: #FB8194;
    --color-blue: #3E51FF;
    --color-stub: #D9D9D9;

    --button-gradient: linear-gradient(90deg, #F85032 0%, var(--color-fiery-red) 100%);

    --forn-family: 'Popins', sans-serif;

    --container-width: 1160px;
    --container-padding-x: 15px;
    --header-min-height: 105px;

    --transition-duration: 0.2s;

    --button-height: 52px;
    --button-border-radius: 64px;
    --input-height: 56px;
    --input-border: 1px solid #646464;
    --input-radius: 10px;
 }

 body {
  position: relative;
  background-color: var(--color-almost-white);
  color: var(--color-gray);
  line-height: 1.78;
  font-size: 18px;
  font-family: var(--forn-family);
  font-weight: 400;
  overflow-x: hidden;
 }

 a {
  text-decoration: none;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  color: var(--color-charcoal-black);
  font-weight: 600;
  line-height: 1.25;
 }

 .container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.button {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  text-transform: capitalize;
  border-radius: var(--button-border-radius);
  border: none;
  padding: 12px 28px;
  background: var(--button-gradient);
}

.button:hover {
  opacity: 0.9;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.header {
  padding-block: 24px;
  display: flex;
  align-items: center;
  column-gap: 100px;
  min-height: var(--header-min-height);
}

.header-logo-link {
  display: flex;
  padding-block: 10px;
  align-items: center;
}

.header-nav-list {
  display: flex;
  column-gap: 25px;
  text-transform: capitalize;
  font-size: 16px;
}

.header-nav-item {
}

.header-nav-link {
  position: relative;
  color: var(--color-charcoal-black);
  display: inline-flex;
  height: 40px;
  align-items: center;
}

.header-nav-link::before {
  position: absolute;
  content: '';
  width: 80%;
  height: 4px;
  border-radius: 4px;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}

.header-nav-link:hover::before {
  background-color:var(--color-soft-pink);
}

.header-nav-link.is-current {
  font-weight: 500;
}

.header-button {
  margin-left: auto;
}

.header-burger-icon {
  display: none;
}

.hero {
  padding-top: 55px;
  padding-bottom: 70px;
  position: relative;
}

.hero-decorative-title {
  font-size: 88px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -3.52px;
  text-transform: capitalize;
  color: var(--color-charcoal-black);
  max-width: 720px;
  padding-bottom: 15px;
}

.hero-description {
  max-width: 560px;
  padding-bottom: 50px;
}

.hero-form {
  display: flex;
  column-gap: 48px;
  justify-content: space-between;
  max-width: 825px;
  padding: 12px 12px 12px 56px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.10);
  border-radius: 80px;
}
.hero-form-select-wrap {
}
.hero-form-select {
}
.hero-form-button {
  padding: 16px 44px;
  font-size: 18px;
}

.hero-video-wrapper {
  position: absolute;
  top: 0;
  right: -125px;
  z-index: -1;
  margin-top: calc(-1 * var(--header-min-height));
}

.hero-video-inner {
  position: relative;
}

.hero-video-inner::before {
  position: absolute;
  content: '';
  width: 120px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: url('./icons/play-icon.svg') no-repeat center/cover;
}

.hero-video {
  background-color: var(--color-stub);
}

.hero-video::before {
}

.hero-video-button {

}
.hero-visitors-wrapper {
}
.hero-visitors-title {
}
.hero-visitors-list {
}
.hero-visitors-item {
}
.hero-visitors-avatar {
}

@media (max-width: 1024px) {
  .header {
    column-gap: 30px;
    justify-content: space-between;
  }

  .header-button {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .header {
    justify-content: space-between;
    padding-block: 10px;
  }

  .header-nav {
    display: none;
  }

  .header-button {
    display: none;
  }

  .header-burger-icon {
    display: inline-block;
  }
}